body {
    background-color: #859caf; /* Màu nền trời xanh nhạt */
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Ẩn thanh cuộn */
}

.monster {
    width: 400px;
    height: 450px;
    background-color: #5b1d74; /* Màu tím */
    border-radius: 50% 50% 45% 45% / 60% 60% 40% 40%;
    position: relative; /* Cần cho việc định vị các bộ phận bên trong */
}

.lefteye {
    width: 100px;
    height: 100px;
    background-color: #fff; /* Màu trắng cho mắt */
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 60px;
    display: flex;
}
.righteye {
    width: 100px;
    height: 100px;
    background-color: #fff; /* Màu trắng cho mắt */
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 60px;
    display: flex;
}
.leftpupil{
    width: 30px;
    height:30px;
    background-color:black;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 40px;
}
.rightpupil{
    width: 30px;
    height:30px;
    background-color:black;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    right: 40px;
}